blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
Cython==3.0.10
Flask==2.0.3
idna==3.7
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
multitasking==0.0.11
numpy==1.19.5
pandas==1.1.5
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
urllib3==2.2.2
Werkzeug==2.0.3
yfinance==0.1.70
zipp==3.19.2
